.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-brand);
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 4px;
  outline: none;
  transition: all 300ms;
  cursor: pointer;
  &.font-semibold {
    font-weight: 600;
  }
  &.font-bold {
    font-weight: 700;
  }
  &.text-base {
    font-size: 16px;
  }
  &.text-xs {
    font-size: 12px;
  }
  &:hover {
    color: var(--primary-text);
    border: 1px solid var(--primary-brand);
  }
  &.disabled {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
  }
  &--primary {
    color: #fff !important;
    border: 1px solid transparent !important;
    background-color: #2d72db !important;
    &:hover {
      background-color: #204ab6 !important;
    }
    &.disabled {
      opacity: 0.5;
      cursor: none;
      pointer-events: none;
    }
  }
  &--secondary {
    color: var(--primary-brand);
    background: rgba(45, 104, 254, 0.16);
    border: 1px solid transparent;
  }
  &--grey {
    color: var(--secondary-text);
    border: 1px solid var(--border);
    &:hover {
      color: var(--primary-text);
      border: 1px solid var(--primary-brand);
    }
  }
  &--grey-fill {
    color: var(--primary-brand);
    background-color: #f0f4fb;
    border: 1px solid #e0e0e0;
    &:hover {
      color: var(--primary-text);
      border: 1px solid var(--primary-brand);
    }
  }
  &--text {
    border: 1px solid transparent;
    color: var(--primary-brand);
    background-color: transparent;
    &:hover {
      border: 1px solid transparent;
      color: var(--primary-text);
    }
  }
  &--google {
    color: var(--primary-text);
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 4px;
  }
  &--download {
    color: var(--primary-brand);
    background: rgba(168, 195, 236, 0.38);
    border: 1px solid #d3deed;
    border-radius: 6px;
  }
  &--lg {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
  }
  &--md {
    padding: 10px 24px;
  }
  &--sm {
    padding: 6px 16px;
  }
  &--h28 {
    height: 28px;
  }
  &--h30 {
    height: 30px;
  }
  &--h32 {
    height: 32px;
  }
  &--h40 {
    height: 40px;
  }
  &--h48 {
    height: 48px;
  }
}
