.input-field {
  width: 100%;
  color: var(--tertiary-text);
  font-size: 14px;
  font-weight: 400;
  padding: 10px 12px;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 4px;
  &.font-medium {
    font-weight: 500;
  }
  &:focus {
    border: 1px solid var(--primary-brand);
    transition: all 300ms;
  }
  &::placeholder {
    font-family: "Inter", sans-serif;
    color: var(--placeholder);
    font-size: 14px;
    font-weight: 400;
  }
  &--type2 {
    &::placeholder {
      color: var(--border);
    }
  }
  &--h32 {
    height: 32px;
  }
  &--h36 {
    height: 36px;
  }
  &--h40 {
    height: 40px;
  }
  &--h44 {
    height: 44px;
  }
  &--h48 {
    height: 48px;
  }
  &--h50 {
    height: 50px;
  }
  &--md {
    padding: 12px 10px;
  }
  &-wrapper {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &.sm {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  &-label {
    display: block;
    color: var(--primary-text);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    &.font-semibold {
      font-weight: 600;
    }
    &.font-bold {
      font-weight: 700;
    }
  }
  &--password {
    padding-right: 50px;
  }
  &.error {
    background-color: #fff4f4;
    border: 1px solid var(--error);
    &:focus {
      border: 1px solid var(--error);
    }
  }
  &:disabled {
    color: rgba(145, 150, 154, 0.6);
    background: #e3e9ea;
    border: 1px solid var(--tertiary-text);
    pointer-events: none;
    cursor: none;
    &::placeholder {
      color: rgba(145, 150, 154, 0.6);
    }
  }
  &--select {
    background: #fff url("assets/icons/arrow-down-color.svg") no-repeat right
      12px center;
    padding-right: 40px;
    cursor: pointer;
  }
  &--arrow-group {
    background: #fff url("assets/icons/arrow-group.svg") no-repeat right 12px
      center;
    padding-right: 40px;
    &--black {
      background: #fff url("assets/icons/arrow-group-black.svg") no-repeat right
        12px center;
      padding-right: 40px;
    }
  }
  &--search {
    background: #fff url("assets/icons/search.svg") no-repeat right 12px center;
    padding-right: 40px;
    &--left {
      background: #fff url("assets/icons/search.svg") no-repeat left 12px center;
      padding-left: 40px;
    }
  }
  &--date {
    background: #fff url("assets/icons/calendar.svg") no-repeat right 12px
      center;
    padding-right: 40px;
  }
  &--date1 {
    background: #fff url("assets/icons/calendar1.svg") no-repeat right 12px
      center;
    padding-right: 40px;
  }
  &--textarea {
    height: initial;
    resize: none;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
  background: #fff url("assets/icons/arrow-down-color.svg") no-repeat right 12px
    center;
}
