.input-field {
  color: var(--tertiary-text);
  font-size: 14px;
  font-weight: 400;
  padding: 10px 12px;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 4px;
  &:focus {
    border: 1px solid var(--primary-brand);
    transition: all 300ms;
  }
  &::placeholder {
    font-family: "Inter", sans-serif;
    color: var(--placeholder);
    font-size: 14px;
    font-weight: 400;
  }
  &--h32 {
    height: 32px;
  }
  &--h36 {
    height: 36px;
  }
  &--h40 {
    height: 40px;
  }
  &--h50 {
    height: 50px;
  }
  &--md {
    padding: 12px 10px;
  }
  &-wrapper {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &.mb-4 {
      margin-bottom: 16px;
    }
  }
  &-label {
    display: block;
    color: var(--primary-text);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    &.font-semibold {
      font-weight: 600;
    }
    &.font-bold {
      font-weight: 700;
    }
  }
  &--password {
    padding-right: 50px;
  }
  &.error {
    background-color: #fff4f4;
    border: 1px solid var(--error);
    &:focus {
      border: 1px solid var(--error);
    }
  }
  &:disabled {
    color: rgba(145, 150, 154, 0.6);
    background: #e3e9ea;
    border: 1px solid var(--tertiary-text);
    pointer-events: none;
    cursor: none;
    &::placeholder {
      color: rgba(145, 150, 154, 0.6);
    }
  }
  &--select {
    background: #fff url("assets/icons/arrow-down-color.svg") no-repeat right
      12px center;
    padding-right: 50px;
    cursor: pointer;
  }
  &--arrow-group {
    background: #fff url("assets/icons/arrow-group.svg") no-repeat right 12px
      center;
    padding-right: 40px;
  }
}
