.table-styles {
  background-color: #fff;
  border-collapse: collapse;
  border: 1px solid var(--table-border);
  border-radius: 8px 8px 0 0;
  thead {
    tr {
      background-color: #ebf1f8;
      border-bottom: 1px solid var(--table-border);
      border-radius: 8px 8px 0px 0px;
      td {
        color: var(--text-grey);
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        padding: 14px;
        &:first-child {
          border-top-left-radius: 8px;
        }
        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }
  }
  tbody {
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid var(--table-border);
      }
      td {
        color: var(--primary-text);
        font-size: 14px;
        font-weight: 500;
        padding: 10px 14px;
      }
    }
  }
}
