:root {
  --primary-brand: #2d72db;
  --secondary-brand: #45984d;
  --tertiary-brand: #fdad15;

  --primary-text: #141517;
  --secondary-text: #5b5f65;
  --tertiary-text: #324054;
  --text-dark: #202223;

  --text-grey: #71839b;

  --placeholder: #7b7f85;
  --input-bg: #edf7ff;
  --border: #b7bdc6;

  --screen-bg: #f5f5f5;

  --success: #1fab70;
  --warning: #e6a539;
  --error: #d82c0d;
  --info: #3468e6;

  --table-border: #d3deed;
}
