.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.error-message {
  color: var(--error);
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
}
.link {
  display: inline-block;
  color: var(--primary-brand);
  font-weight: 500;
  text-decoration: initial;
  cursor: pointer;
  &:hover {
    color: #204ab6;
  }
  &.font-bold {
    font-weight: 700;
  }
  &.semibold {
    font-weight: 600 !important;
  }
  &.text-13 {
    font-size: 13px !important;
  }
  &--sm {
    font-size: 14px !important;
  }
  &--xs {
    font-size: 12px !important;
  }
}

input[type="number"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.card-box {
  background-color: #ffffff;
  border: 1px solid #d3deed;
  border-radius: 12px;
  &--border-grey {
    border: 1px solid #dbdbdb;
  }
  &--border-grey2 {
    border: 1px solid #e3e3e3;
  }
}
.card-box2 {
  background-color: #ffffff;
  border: 1px solid #d2dce9;
  border-radius: 12px;
  &.md {
    border-radius: 8px;
  }
}
.card-box3 {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(82, 84, 88, 0.08);
  border-radius: 14px;
}
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 16px;
  background-color: #d4ebd6;
  border-radius: 100px;
  &--active {
    color: #24782c;
    background-color: #d4ebd6;
  }
  &--draft {
    color: var(--tertiary-text);
    background-color: #d8dde3;
  }
  &--shortlisted {
    color: #24782c;
    background-color: #d4ebd6;
  }
  &--sample-received {
    color: #b5783f;
    background-color: #ffe2c7;
  }
  &--order-placed {
    color: var(--secondary-brand);
    background-color: #e2fee1;
  }
  &--completed {
    color: var(--tertiary-text);
    background-color: #dce0e5;
  }
  &--parcel-packed,
  &--sample-request {
    color: #5f61e1;
    background-color: rgba(95, 97, 225, 0.16);
  }
}
.dropdown {
  &-menu {
    position: absolute;
    max-width: 100%;
    min-width: max-content;
    padding: 12px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 5px 0 rgba(0, 0, 0, 0.04);
    top: calc(100% + 13px);
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 300ms;
    z-index: 10;
    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    &__list {
      display: flex;
      align-items: center;
      padding: 6px 16px;
      transition: all 300ms;
      cursor: pointer;
      &:hover {
        background-color: #f4f4f4;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &__title {
        color: var(--tertiary-text);
        font-size: 14px;
        font-weight: 500;
        margin-left: 8px;
        &.font-semibold {
          font-weight: 600;
        }
        &.color-primary {
          color: var(--primary-text);
        }
      }
    }
  }
}

input[type="file"] {
  display: none;
}

.pills {
  &-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 16px;
    margin: 4px 8px 4px 0;
    background: #ffffff;
    border: 1px solid var(--border);
    border-radius: 19px;
    &.sm {
      padding: 6px 16px;
    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #0d659e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.label-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary-brand);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 16px;
  margin-bottom: 8px;
  background: rgba(206, 213, 222, 0.38);
  border: 1px solid #ffffff;
  border-radius: 19px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &.mb-0 {
    margin-bottom: 0 !important;
  }
}

.split-progress-bar {
  width: calc(100% / 5);
  height: 8px;
  background-color: var(--border);
  border-radius: 8px;
  &:not(:last-child) {
    margin-right: 5px;
  }
  &.in-progress {
    background-color: var(--tertiary-brand);
  }
  &.completed {
    background-color: var(--success);
  }
}

.disabled {
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.css-1p3m7a8-multiValue {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  margin: 4px 8px 4px 0;
  background-color: #ffffff !important;
  border: 1px solid var(--border);
  border-radius: 19px !important;
}
.css-12a83d4-MultiValueRemove {
  cursor: pointer;
}

.graph-keys {
  display: flex;
  align-items: center;
  &__circle {
    display: inline-flex;
    width: 10px;
    height: 10px;
    background-color: var(--primary-brand);
    border-radius: 100%;
  }
  &__text {
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    &.ml-2 {
      margin-left: 8px;
    }
  }
}
.no-wrap {
  text-wrap: nowrap;
}

.dots-indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: var(--primary-brand);
  border-radius: 100%;
  &.sm {
    width: 12px;
    height: 12px;
  }
  &.xs {
    width: 10px;
    height: 10px;
  }
}

.stepper {
  &-wrapper {
    display: flex;
    margin: 0 -16px;
  }
  &__list {
    flex-basis: 25%;
    flex: 1;
    padding: 0 16px;
    &__progress {
      display: block;
      height: 6px;
      background-color: var(--border);
      border-radius: 4px;
    }
    &__count {
      display: inline-block;
      color: var(--secondary-text);
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.008em;
      margin-top: 16px;
    }
    &__title {
      color: var(--tertiary-text);
      font-weight: 600;
      margin-top: 4px;
    }
    &.active {
      .stepper__list {
        &__progress {
          background-color: var(--primary-brand);
        }
        &__count {
          color: var(--primary-brand);
        }
      }
    }

    &.success_stepper {
      .stepper__list {
        &__progress {
          background-color: green;
        }
      }
    }
  }
}

.btn-group {
  display: flex;
  &__item {
    height: 36px;
    display: flex;
    align-items: center;
    color: var(--tertiary-text);
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid var(--border);
    background-color: #fff;
    cursor: pointer;
    &:first-of-type {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
  }
  &__input {
    display: none;
    &:checked + label {
      border: 2px solid var(--primary-brand);
      background-color: var(--input-bg);
    }
  }
  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 20px;
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: 600;
    padding: 2px 6px;
    margin-left: 6px;
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 100%;
  }
  &-text {
    &__input {
      display: none;
      &:checked + label {
        color: var(--primary-brand);
      }
    }
    &__item {
      color: var(--tertiary-text);
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 300ms;
      cursor: pointer;
      &:hover {
        color: var(--primary-brand);
      }
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}

.edit-upload {
  &__label {
    position: relative;
    display: block;
    background-color: var(--input-bg);
    overflow: hidden;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: all 300ms;
      z-index: 8;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
    }
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
      .edit-upload__edit-icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__edit-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
}

.compare-supplier {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 24px 2px rgba(0, 0, 0, 0.26);
  border-radius: 16px 16px 0px 0px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  display: none;
  z-index: 2;
  &__header {
    padding: 16px 24px;
    border-bottom: 1px solid var(--border);
  }
  &__body {
    padding: 24px 24px 30px;
    overflow-x: auto;
  }
  &.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

//Star rating
.rating-group {
  display: inline-flex;
  flex-direction: row-reverse;
}

.rating__input {
  display: none;
}

.rating__label {
  cursor: pointer;
  &:not(:first-child) {
    margin-right: 12px;
  }
}

.rating__label:hover .rating__label svg path,
.rating__label:hover ~ .rating__label svg path,
.rating__input[type="radio"]:checked ~ .rating__label svg path {
  fill: var(--tertiary-brand);
}

.breadcrumb {
  &-wrapper {
    display: flex;
  }
  &__list {
    position: relative;
    color: var(--text-grey);
    font-size: 14px;
    font-weight: 500;
    transition: all 300ms;
    &:not(:last-child) {
      cursor: pointer;
      &:hover {
        color: #697380;
      }
      &::after {
        content: "/";
        background-image: url(../../../icons/slash.svg);
        display: inline-block;
        margin: 0 6px;
      }
    }
    &:last-child {
      color: var(--primary-brand);
    }
  }
}
